# Fichiers générés par Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Fichiers de log
*.log

# Rapports de test
cucumber-report.html
cucumber-report.json
cucumber-report.xml
*.html
*.xml
*.json

# IntelliJ IDEA
/.idea/
/*.iml
*.iws
*.ipr

# Eclipse
*.classpath
*.project
*.settings/

# OS spécifiques
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.swp

# Rapports Allure (si utilisé)
allure-results/
allure-report/

# Node (si jamais tu ajoutes du frontend)
node_modules/
dist/

# JetBrains User-Specific
.idea/
*.iml
out/
